{% extends 'layouts/layout' %}

{% block content %}

    {% include 'story/_story_summary' with {story: story} %}

    {% if current_user %}
        {% include '_partials/errors' with {error: error} %}

        <form method="post" action="{{ route('comment.store', story.id) }}">
            {{ csrf_field() }}
            <input type="hidden" name="story_id" value="{{ story.id }}" />
            <textarea cols="60" rows="6" name="comment"></textarea><br />
            <input type="submit" name="submit" value="Submit Comment" />
        </form>
    {% endif %}

{% endblock %}
