{% extends 'layouts/layout' %}

{% block content %}
    {% include '_partials/errors' with {error: error} %}

    <form action="{{ route('user.login.auth') }}" method="post">
        {{ csrf_field() }}
        <label>Username</label> <input type="text" name="username" value="" />
        <label>Password</label> <input type="password" name="password" value="" />
        <input type="submit" name="login" value="Log In" />
    </form>
{% endblock %}
